<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/script.js"> </script>
    <title>Check your Age</title>
    
</head>
<body>

    <div class="flex flex-jc-c flex-ai-c">
        
        <div class="flex flex-jc-c flex-ai-c form">
            <form name="AgeForm" class="flex flex-jc-c flex-ai-c form__age" onsubmit="someFunction(event)">

                <h1>Find out your Age!</h1>

                <p>
                    <label id="label">Day</label>
                    <input id="day" name="day" type="number">
                </p>
                <p>
                    <label id="label">Month</label>
                    <input id="month" name="month" type="number">
                </p>
                <p>
                    <label id="label">Year</label>
                    <input id="year" name="year" type="number">
                </p>
                <p>
                    <input type="submit" value="Submit">
                </p>

                <p id="response">
        
                </p>
            </form>
            
        </div>
        
    </div>
    
</body>
</html>